/* Градієнтний фон для всього сайту */
body {
    background: linear-gradient(to bottom, #EDA55C, #ED8D5C, #EDBB5C, #EDCB5C, #F0BF8D);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/* Стилі для заголовка меню в лівій колонці */
aside .card .card-header {
    background-color: black !important;
    color: white !important;
}
/* Стилі для елементів списку в меню */
aside .list-group-item {
    background-color: white !important;
    color: black !important;
}
aside .list-group-item a {
    color: black !important;
    text-decoration: none;
}

/* Стилі для каруселі */
.carousel-image {
    height: 600px;
    object-fit: contain;
    object-position: center;
    background-color: #f1cdaa;
}


/* Стилі для контактного фото */
.contact-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 0.375rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Відступ для основного контенту */
@media (min-width: 992px) {
    .main-content {
        padding-left: 15px;
    }
}